<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<footer class: "social-media">
    <button><%= link_to " Follow-me on Github", "https://github.com/cheneyshreve", class: "fa fa-github-square" %></button>
</footer>
