<h1>Welcome</h1>

<h3>Want to connect? Check out my Github link below.</h3>
<footer class: "social-media">
    <button><%= link_to " Follow-me on Github", "https://github.com/cheneyshreve", class: "fa fa-github-square" %></button>
</footer>
